/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); //Roboto

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #000; //Black Color
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

p  {
    color: #000;
    font-family: 'Roboto', sans-serif;
}
