body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff; /* Set background color to white */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Full viewport height */
}

header {
    font-size: 0.85em;
    background-color: transparent; /* Remove gray background color */
    border-bottom: 1px solid #ccc; /* Add a divider line at the bottom */
    padding: 10px 20px; /* Add padding to header */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* - - - - - Navigation Bar - - - - - - */
nav {
    display: flex;
    justify-content: space-between; /* Space out the content to the left and right */
    align-items: center; /* Center items vertically */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333; /* Dark gray text color for navigation links */
    text-decoration: none;
    font-size: 0.85em; /* Increase font size */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-weight: 225; /* Make text non-bold */
}

nav ul li a.active {
    color: green; /* Highlight color for active page */
}

nav ul li a:hover {
    color: #333
    font-weight: bold
}


/* - - - - - Social Media Icons - - - - - - */
.social-icons {
    display: flex;
}

.social-icons a {
    color: #333; /* Dark gray color for social media icons */
    font-size: 1.5em; /* Adjust size as needed */
    margin-left: 20px; /* Space between icons */
}

.social-icons a:hover {
    color: #555; /* Change color on hover */
}

section {
    padding: 80px 40px; /* Add padding to ensure content is not hidden behind the fixed header and add margin on sides */
}

/* - - - - - Headers - - - - - - */
/* Main Heading */
h1 {
    font-size: 2.5em; /* Example size for main heading */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    color: #000; /* Dark gray color */
    margin: 0;
    padding: 50px;
}

/* Secondary Header */
h2 {
    font-size: 1.5em; /* Size between main heading and body text */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    color: #000; /* Dark gray color */
    margin: 0;
    padding: 0;
}

/* Subheading */
h3 {
    font-size: 1.25em; /* Size between main heading and body text */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    color: #333; /* Dark gray color */
    margin: 0;
    padding: 0;
}

/* Body Text */
p {
    font-size: 1em; /* Example size for body text */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    color: #333; /* Dark gray color */
    margin: 0;
    padding: 0;
}